@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

body {
	margin: 0 auto;
	padding: 0;
	font-size: 14px;
	font-family: "Lato";
	font-weight: 300;
}

h3 {
	position: relative;
	top: -20px;
	font-size: 22px;
	font-family: "Lato" !important;
	font-weight: 700;
}

.container {
	margin: 20 auto;
	min-width: 300px;
	max-width: 500px;
	padding: 30px;
	border: 1px solid silver;
	border-radius: 8px;
}

input, select, textarea {
	width: 100%;
	font-size: 14px;
	font-family: "Lato";
	font-weight: 300;
	line-height: 1.5em;
	padding: 3px 5px;
	border-radius: 4px;
	border: 1px solid silver;
}

label {
	font-size: 14px;
	font-family: "Lato";
	font-weight: 700;
	line-height: 25px;
}

.button {
	width: 100px;
	background-color: #005b96;
	color: white;
	margin: 10px 0;
	padding: 5px;
	display: inline-block;
	position: relative;
	border-radius: 4px;
	font-size: 14px;
	font-family: "Lato";
	font-weight: 300;
	text-align: center;
	text-decoration: none;
	border: 0px;
}

.pull-right {
	right: -80%;
}

.center {
	left: 40%;
}

#response {
	margin: 20 auto;
	min-width: 300px;
	max-width: 500px;
	padding: 30px;
	border: 1px solid silver;
	border-radius: 8px;
	background-color: #cfcfcf;
}